.main_container {
  position: relative;
  margin: 10px auto;
  width: 150px ;
  height: 150px;
  z-index: 1;
}

.main_container {
  perspective: 1000;
}

.main_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
/*
.main_container:hover .main_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
*/

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  
  color: white;
  text-align: center;
}

.gridimages {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px; 
    width: 200px;
    height: 150px;     
}

.gridimagescontainer{
  padding-right : 190px;
}

.imageclick {
  left: 500px;
  -webkit-transition: 1s;
}