<script id="columntemplate" type="text/ng-template">
    <div class="col-md-3">
      <div id="image{{m}}{{n}}" name="{{master[m][n]}}" class="main_container">
      <div class="main_card" name="{{master[m][n]}}" class="shadow">
        <div class="face">
          <p>Flip style</p>{{master[m][n]}} 
        </div>
        <div class="back face">
          <img src="images/{{master[m][n]}}" height="150" width="150"/>
        </div>
      </div>
      </div>
    </div>
</script>

<script id="rowtemplate" type="text/ng-template">
  <div class="row">
    <div ng-repeat="n in test.arr" ng-include="'columntemplate'">{{n}}</div>  
  </div>
</script>

<div style="margin-top:20px;">
  <div ng-repeat="m in test.arr" ng-include="'rowtemplate'">{{m}}</div>
</div>

<button ng-click="clickme()">Click me</button>

<div id="dragDropImg" style="margin-top:20px;">
  <img src="" height="150" width="150"/>
</div>
