<script id="columntemplate" type="text/ng-template">
    <div class="col-md-3 gridimagescontainer">
      <div id="image{{m}}{{n}}" name="{{master[m][n]}}" class="main_container">
      <div class="main_card" name="{{master[m][n]}}" class="shadow">
        <div class="face gridimages">
          {{m}}{{n}}
        </div>
        <div class="back face">
          <img class="img-card" src="images/{{master[m][n]}}" height="150" width="200"/>
        </div>
      </div>
      </div>
    </div>
</script>

<script id="rowtemplate" type="text/ng-template">
  <div class="row">
    <div ng-repeat="n in rowColIndex.arr" ng-include="'columntemplate'">{{n}}</div>
  </div>
</script>

<div style="margin-top:20px;">
  <div ng-repeat="m in rowColIndex.arr" ng-include="'rowtemplate'">{{m}}</div>
</div>

<button ng-disabled="disabled" class="btn" ng-click="clickme()">Click me</button>

<div id="dragDropImg" style="margin-top:20px;">
  <img class="img-card" src="" height="150" width="180"/>
</div>
