<script id="columntemplate" type="text/ng-template">
    <div class="col-md-3">
      <div id="main_container">
      <div id="main_card" class="shadow">
        <div class="face">
          <img src="images/{{master[m][n]}}" height="142" width="142"/>
        </div>
        <div class="back face">
          <p>Flip style</p>{{master[m][n]}}
        </div>
      </div>
      </div>
    </div>
</script>

<script id="rowtemplate" type="text/ng-template">
  <div class="row">
    <div ng-repeat="n in range(0,max)" ng-include="'columntemplate'"></div>  
  </div>
</script>

<div style="margin-top:20px;">
  <div ng-repeat="m in range(0,max)" ng-include="'rowtemplate'">{{m}}</div>
</div>
      





